.motul54 {display: inline-block; width: 24%;}
.motul54 a {font-size: 0.75em;}
.imgc {margin-right: 20px;}
#countdown_dashboard0, #countdown_dashboard4, #countdown_dashboard2 {display: none;}
.errortext {color:red; padding: 1em;    border: 1px solid #dcdcdc;}
.contact {padding: 1em;}
.contact:hover {background: #ededed;}
.contact p {padding-bottom: 5px;}

.ds-ul {    padding: 10px 0 30px 20px;
    list-style: outside;
    list-style-image: url(img/list-marker.png);}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

fieldset, img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    list-style: none;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

html {
    height: 100%;
}

body {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;

    font-family: Verdana;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 24px;
    padding-bottom: 32px;
    font-family: 'gotham_probold';
    line-height: 100%;
}

h2 {
    font-size: 22px;
    padding-bottom: 24px;
    font-family: 'gotham_probold';
    line-height: 100%;
}

h3 {
    font-size: 13px;
    padding-bottom: 17px;
    font-family: 'gotham_probold';
    line-height: 100%;
}

h4 {
    font-size: 13px;
    padding-bottom: 13px;
    font-family: 'gotham_probold';
    line-height: 100%;
}

h1 span {
    font-family: 'gotham_proregular';
}

h1 span span {
    color: #ffc400;
    padding-right: 5px;
}

h2 a {
    color: #000;
}

h3 a {
    color: #000;
}

.f18 {
    font-size: 18px;
}

.f15 {
    font-size: 15px;
}

strong {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

p {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 25px;
}

p.title {
    font-size: 14px;
    font-weight: bold;
}

.black {
    color: #000;
}

.clear {
    clear: both;
    height: 0px;
    font-size: 0px;
    overflow: hidden;
}

.pb0 {
    padding-bottom: 0px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

a, .red {
    color: #e30613;
}

.theme-blue a, .blue {
    color: #004c93;
}

h2.red {
    color: #e31e25;
    line-height: 100%;
}

table {
    margin-bottom: 25px;
}

table.w100 {
    width: 100%;
}

table td {
    padding: 7px 14px;
    line-height: 17px;
    text-align: center;
}

table thead td {
    background: #e30613;
    color: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    font-family: 'Trebuchet MS';
}

table tbody td {
    font-size: 12px;
}

table tbody tr:hover td {
    background: #ededed;
}

table tbody tr td {
    border-top: 1px solid #d0d0d0;
}

table tbody tr:first-child td {
    border-top: 0px;
}

table.yellow {
}

table.yellow td {
    text-align: left;
    height: 40px;
    padding-left: 0px;
}

table.yellow thead {
    font-size: 14px;
    font-weight: bold;
}

table.yellow thead td {
    background: none;
    border-bottom: 1px solid #ffc400;
    border-width: 0 0 1px 0;
    color: #000;
}

table.yellow tbody {
}

table.yellow tbody td {
    border-width: 0px;
}

.section_title {
    display: block;
    font-size: 22px;
    margin: 3px 0 30px 0;
    text-transform: none;
    font-family: 'gotham_probold';
}

/*page_title*/
.page_title {
    display: inline-block;
    padding-bottom: 29px;
    width: 100%;
}

.page_title h1 {
    display: inline-block;
    float: left;
    padding-bottom: 0px;
}

.page_title h1.mr80 {
    margin-right: 83px;
}

.page_title .date {
    float: right;
    color: #9d9d9d;
    font-size: 12px;
    line-height: 29px;
    margin-left: -100%;
}

.content {
    font-size: 13px;
    line-height: 20px;
}

.content img .col.main_right {
    margin: 15px 0;
}

.content ul {
    padding-bottom: 30px;
    margin: 0px 0px;
}

.content ol {
    padding: 0 0 30px 23px;
    margin: 0px 0px;
}

.content ul.red {
    padding: 0 0 30px 20px;
    list-style: outside;
    list-style-image: url(img/list-marker.png);
    color: #000;
}

.content ul.red li {
    padding-left: 5px;
}

.content ol.red {
    padding: 0 0 30px 27px;
    list-style: none;
    counter-reset: point;
}

.content ol.red li {
    color: #000;
    padding-left: 0px;
    position: relative;
}

.content ol.red li:before {
    content: counter(point) '.';
    counter-increment: point 1;
    font-size: 12px;
    position: absolute;
    left: -25px;
    top: 0px;
    width: auto;
    padding: 2px 3px 0 0;
    color: #e30613;
    font-weight: bold;
    text-align: left;
}

.btn {
    min-height: 37px;
    line-height: 37px;
    text-decoration: none;
    text-align: center;
    padding: 0px 27px;
    border: none;
    background-color: #e30613;
    color: #fff;
    font-family: 'gotham_promedium';
    font-size: 11px;
    text-transform: uppercase;
    border: none;
}

.theme-yellow .btn {
    background-color: #ffc400 !important;
}

.btn:hover {
    background: #d70511;
}

.btn:active {
    background: #c70511;
}

/* arrow key */
.btn-go {
    min-height: 37px;
    min-width: 194px;
    line-height: 37px;
    padding: 0px 15px;
    text-decoration: none;
    text-align: center;
    padding: 12px 27px;
    border: none;
    background: #fff;
    color: #000;
    font-family: 'gotham_promedium';
    font-size: 13px;
    text-transform: uppercase;
    border: none;
}

.theme-blue .btn-go {
    color: #000000;
}

.btn-go .arrow {
    display: inline-block;
    margin-left: 16px;
    width: 12px;
    height: 10px;
    background-image: url(img/icon.png);
    background-position: -80px -11px;
    background-repeat: no-repeat;
}

.btn-go:hover {
    color: #fff !important;
    background: #e30613;
}

.btn-go:hover .arrow {
    background-position: -67px 0px !important;
}

.btn-go:active .arrow {
    background-position: -67px 0px;
}

.btn-go.yellow .arrow {
    background-position: -68px -11px;
}

.btn-go.yellow:hover {
    color: #fff;
    background: #ffcd26;
}

.btn-go.blue .arrow {
    background-position: -80px -0px;
}

.btn-go.blue:hover {
    color: #fff;
    background: #004c93;
}

div.container {
    display: inline-block;
    width: 100%;
    min-width: 1020px;
    min-height: 100%;
    overflow: hidden;
    padding-bottom: 220px;
}

div.container.bottom-line {
    padding-bottom: 278px;
}

* html .container {
    height: 100%;
}

header, footer, section {
    display: block;
    width: 100%;
    /*clear: both;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrapper {
    display: block;
    margin: 0 auto;
    clear: both;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrapper.w100 {
    width: 100%;
}

.wrapper.center-block {
    width: 1020px;
    padding-left: 10px;
    padding-right: 10px;
}

/* icon-blocks */
.icon-blocks {
    float: right;
    max-width: 800px;
    height: 40px;
    margin-top: 14px;
}

.icon-blocks .block {
    float: left;
    margin-left: 25px;
    max-width: 215px;
    overflow: hidden;
    text-decoration: none;
    color: #000;
}

.icon-blocks .block:first-child {
    margin-left: 0px;
}

.icon-blocks .block .ico {
    display: inline-block;
    margin-right: -40px;
    float: left;
    width: 40px;
    height: 40px;
    background-image: url(img/icon.png);
    background-repeat: no-repeat;
    background-position: -138px -1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.icon-blocks .block .ico span {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 16px;
    width: 16px;
    margin: 12px;
    background-image: url(img/icon.png);
    background-repeat: no-repeat;
    background-position: -57px -55px;
}

.icon-blocks a.block:hover {
    color: #d70511;
}

.icon-blocks a.block:hover .ico {
    background-position: -179px -1px;
}

.icon-blocks a.block:active .ico {
    background-position: -220px -1px;
}

.icon-blocks .block.getprice .ico span {
    background-position: -57px -55px
}

.icon-blocks .block.phone .ico span {
    background-position: -75px -55px
}

.icon-blocks .block.personal .ico span {
    background-position: -93px -55px
}

.icon-blocks .block.cart .ico span {
    background-position: -111px -55px
}

.icon-blocks .block .desc {
    font-size: 14px;
    padding: 0 0 0 51px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
}

.icon-blocks .block .desc a {
    text-decoration: none;
}

.icon-blocks .block.getprice .desc {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    font-family: 'gotham_probold';
}

.icon-blocks .block.phone .desc span {
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 20px;
}

.icon-blocks .block.phone .desc span.phone {
    min-width: 92px;
    font-family: 'gotham_probold';
}

.icon-blocks .block.cart {
    max-width: 185px;
}

.icon-blocks .block.cart .desc a {
    color: #000;
}

.icon-blocks .block.cart .desc span {
    font-size: 12px;
}

.icon-blocks .block.cart .desc .title {
    font-family: 'gotham_probold';
}

.icon-blocks .block.personal .desc {
    font-size: 12px;
    line-height: 12px;
    color: #000;
}

.icon-blocks .block.phone {
    max-width: 350px;
}

.icon-blocks .block.phone .desc div {
    display: inline-block;
}

.icon-blocks .block.personal .desc .personal {
    display: block;
    color: #000;
    font-family: gotham_probold;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.icon-blocks .block.personal .desc .login {
    display: block;
    color: #000;
    float: left;
    padding: 0 7px 0 0;
}

.icon-blocks .block.personal .desc .sep {
    display: block;
    float: left;
    width: 1px;
    height: 12px;
    border-right: 1px solid #d6d6d6;
}

.icon-blocks .block.personal .desc .registr {
    padding-left: 7px;
}

.theme-blue .icon-blocks .block .ico {
    background-position: -138px -42px;
}

.theme-blue .icon-blocks a.block:hover .ico {
    background-position: -179px -42px;
}

.theme-blue .icon-blocks a.block:active .ico {
    background-position: -220px -42px;
}

.theme-blue .icon-blocks a.block:hover {
    color: #004c93;
}

.theme-yellow .icon-blocks .block .ico {
    background-position: -138px -83px;
}

.theme-yellow .icon-blocks a.block:hover .ico {
    background-position: -179px -83px;
}

.theme-yellow .icon-blocks a.block:active .ico {
    background-position: -220px -83px;
}

.theme-yellow .icon-blocks a.block:hover {
    color: #ffcd26;
}

.theme-yellow .block.personal .desc .registr {
    color: #ffc400;
}

.block.personal {
    position: relative;
    overflow: visible;
}

.block.personal .menu-down {
    display: inline-block;
    width: 7px;
    height: 4px;
    margin: 0 0 2px 8px;
    background: url('img/icon.png') 0px -18px no-repeat;
}

.block.personal:hover .menu-down {
    background-position: -9px -18px;
}

.block.personal ul.profile-menu {
    display: none;
    position: absolute;
    list-style: none;
    border: 1px solid #dbdbdb;
    margin: 0px;
    padding: 10px 20px;
    font-size: 12px;
    background: #fff;
    top: 21px;
    z-index: 500;
    line-height: 100%;
    width: auto;
}

.block.personal:hover ul.profile-menu {
    display: block;
}

.block.personal ul.profile-menu li {
    padding: 5px 0;
    width: 100%;
    color: #000;
    height: auto;
    margin: 0;
    white-space: nowrap;
}

.block.personal ul.profile-menu li a {
    padding: 3px 0;
    margin: 0;
    color: #000;
    font-family: Verdana;
    font-size: 12px !important;
    text-transform: none;
}

.block.personal ul.profile-menu li a:hover {
    color: #000;
}

/* search line*/
.search-line {
    width: 195px;
    height: 100%;
    margin-top: 0px;
    text-align: right;
}



.search-line form {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.search-line input[type=text] {
    color: #fff;
    height: 25px;
    padding-top: 0px;
    width: 100%;
    display: block;
    padding: 0px 5px;
    background: #000;
    border: 1px solid #000;
    padding-right: 20px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    float: left;
}

.search-line input[type=submit] {
    border: none;
    height: 16px;
    width: 16px;
    background: url('img/icon.png') 0px -0px no-repeat;
    cursor: pointer;
    right: 4px;
    top: 4px;
    position: absolute;
    font-size: 0px;
}

.search-line input[type=text]::-webkit-input-placeholder {
    color: #000;
}

.search-line input[type=text]::-webkit-input-placeholder {
    color: #000;
}

.search-line input[type=text]::-webkit-input-placeholder {
    color: #000;
}

/* ����� ��� mozilla */
.search-line input[type=text]:-moz-placeholder {
    color: #000;
}

.search-line input[type=text]:-moz-placeholder {
    color: #000;
}

.search-line input[type=text]:-moz-placeholder {
    color: #000;
}

/* header */
header {
    padding-top: 20px;
    padding-bottom: 15px;
    height: 105px;
}

header .logo {
    width: 295px;
    height: 60px;
    float: left;
    display: inline-block;
    margin-top: 2px;
}

section.content {
    padding-top: 45px;
    padding-bottom: 20px;
}

/* top menu */
.top-menu {
    background: #000;
    color: #fff;
    height: 40px;
}

.top-menu .wrapper > div {
    display: inline-block;
    height: 40px;
}

.top-menu .search-line {
    height: 100%;
    width: 125px;
    float: right;
    padding-top: 8px;
}

.top-menu .search-line.active input[type=text], section.top-menu .search-line:hover input[type=text] {
    color: #000;
    border: 1px solid #dedede;
    background: #fff;
}

.top-menu .search-line.active input[type=submit], section.top-menu .search-line:hover input[type=submit], section.top-menu .search-line:active input[type=submit] {
    background-position: -16px 0px;
}

.top-menu nav {
    display: inline-block;
    height: 40px;
    font-size: 12px;
    line-height: 38px;
}

.top-menu nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.top-menu nav ul li {
    float: left;
    height: 20px;
    padding: 0 21px;
}

.top-menu nav ul li:first-child {
    padding-left: 0px;
}

.top-menu nav ul li:last-child {
    padding-right: 0px;
}

.top-menu nav ul li.sep {
    display: block;
    height: 40px;
    width: 1px;
    margin: 0px;
    padding: 0px;
    background: url(img/icon.png) -36px 9px no-repeat;
}

.top-menu nav ul li.parent {
    position: relative;
}

.top-menu nav ul li.parent:hover ul {
    display: block;
}

.top-menu nav ul li.parent .menu-down {
    display: inline-block;
    width: 7px;
    height: 4px;
    margin: 0 0 2px 8px;
    background: url('img/icon.png') 0px -18px no-repeat;
}

.top-menu nav ul li.parent:hover .menu-down {
    background-position: -9px -18px;
}

.top-menu nav ul li a {
    display: inline-block;
    padding: 2px 0px;
    text-decoration: none;
    color: #ffffff;
}

.top-menu nav ul li a:hover {
    color: #ececec;
}

.top-menu nav ul li a.selected {
    color: #000 !important;
}

.top-menu nav ul li a .return {
    display: inline;
    width: 12px;
    height: 10px;
    float: left;
    margin: 14px 9px 0 0;
    background-image: url(img/icon.png);
    background-position: -110px 0px;
    background-repeat: no-repeat;
}

.theme-blue .top-menu nav ul li a .return {
    background-position: -110px -11px;
}

.theme-yellow .top-menu nav ul li a .return {
    background-position: -123px -11px;
}

.top-menu nav ul li ul {
    display: none;
    position: absolute;
    list-style: none;
    border: 1px solid #dbdbdb;
    margin: 0px;
    padding: 10px 20px;
    font-size: 12px;
    background: #fff;
    top: 35px;
    z-index: 500;
    line-height: 100%;
    width: auto;
}

.top-menu nav ul li ul li {
    padding: 5px 0;
    width: 100%;
    color: #000;
    height: auto;
    margin: 0;
    white-space: nowrap;
}

.top-menu nav ul li ul li a {
    padding: 3px 0;
    margin: 0;
    color: #000;
}

.top-menu nav ul li ul li a:hover {
    color: #000;
}

/* slider next prev buttons*/

.slider-nav {
    position: relative;
    bottom: 0px;
    z-index: 100;
}

.slider-nav {
    background-image: url(img/icon.png);
    background-position: 0px -24px;
    background-repeat: no-repeat;
    width: 17px;
    height: 31px;
    position: absolute;
    bottom: 100px;
}

.slider-nav.prev {
    right: 40px;
    background-position: -34px -24px;
}

.slider-nav.prev:hover {
    background-position: 0px -24px;
}

.slider-nav.prev:active {
    background-position: -67px -24px;
}

.slider-nav.next {
    right: 10px;
    background-position: -51px -24px;
}

.slider-nav.next:hover {
    background-position: -17px -24px;
}

.slider-nav.next:active {
    background-position: -85px -24px;
}

/* MAIN slider */
.slider {
    height: 467px;
    width: 100%;
    overflow: hidden;
    background: #3b3b3b;
}

.slider .slides {
    height: 467px;
    position: relative;
    z-index: 10;
    margin-bottom: -120px;
}

.slider .slides .item {
    height: 467px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    display: none;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: 102% auto;
    -webkit-background-size: 102% auto;
    -khtml-background-size: cover;
    background-size: cover;
}

.slider .slides .item .wrapper {
    position: relative;
    padding: 0px;
    width: 1000px;
    height: 467px;
}

.slider .slides .item:first-child {
    display: block;
}

.slider .slides .item .title {
    font-family: 'gotham_promedium';
    font-size: 50px;
    font-style: italic; /*gotham_proitalic*/
    line-height: 100%;
    padding-top: 40px;
    max-width: 650px;
}

.slider .slides .item .desc {
    font-size: 14px;
    margin-top: 10px;
    max-width: 650px;
    padding-bottom: 50px;
}

.slider .slides .item .icon {
    display: block;
    height: 215px;
    width: 270px;
    border: 0px solid #fff;
    float: right;
    position: absolute;
    top: 40px;
    right: 15px;
    float: right;
    background-image: url(img/slide-pictogram.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.slider .slides .item.wholesale .icon {
    height: 215px;
    background-position: 0px 0px;
}

.slider .slides .item.shop .icon {
    height: 172px;
    background-position: 0px -216px;
}

.slider .slides .item.truck_ .icon {
    height: 160px;
    width: 285px;
    background-position: 0px -390px;
}

.slider .slides .item.retail .icon {
    height: 176px;
    background-position: 0px -550px;
}

.slider .slides .item .slide_picture {
    position: absolute;
    overflow: hidden;
    float: right;
    height: 1000px;
    width: 467px;
    top: 0px;
    left: 0px;
}

.slider .slides .item a.link {
}

.slider .navigation {
    position: relative;
    bottom: 0px;
    z-index: 100;
}

.slider .wrapper {
    z-index: 200;
    bottom: 0px;
}

/* MAIN slider TABS*/
.slider .tabs {
    display: table;
    height: 67px;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.slider .tabs > li {
    position: relative;
    height: 67px;
    width: 25%;
    border-left: 1px solid #dedede;
    background: #fff;
    cursor: pointer;
    font-family: 'gotham_probold';
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.slider .tabs li:first-child {
    border: none;
}

.slider .tabs li.current:before, .slider .tabs li.active:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #e31e25;
    clear: both;
}

.slider .tabs li .line {
    display: inline-block;
    white-space: nowrap;
}

.slider .tabs li span {
    display: inline-block;
    line-height: 110%;
    color: #000;
    clear: both;
    padding-left: 15px;
    text-align: left;
}

.slider .tabs li.current span, .slider .tabs li.active span {
    color: #fff !important;
}

.slider .tabs li .icon {
    display: block;
    float: left;
    width: 40px;
    height: 31px;
    border: 0px solid #fff;
    background-image: url(img/icon.png);
    background-position: -41px 0px;
    background-repeat: no-repeat;
}

.slider .tabs li.wholesale .icon {
    background-position: -263px 0px;
}

.slider .tabs li.shop .icon {
    background-position: -263px -34px;
}

.slider .tabs li.truck .icon {
    background-position: -263px -68px;
}

.slider .tabs li.retail .icon {
    background-position: -263px -100px;
}

.slider.mini .tabs li.wholesale .icon {
    background-position: -307px 0px;
}

.slider.mini .tabs li.shop .icon {
    background-position: -307px -34px;
}

.slider.mini .tabs li.truck .icon {
    background-position: -307px -68px;
}

.slider.mini .tabs li.retail .icon {
    background-position: -307px -100px;
}

.slider .tabs li.wholesale.current, .slider .tabs li.wholesale.active {
    background: #e31e25;
}

.slider .tabs li.wholesale.current .icon, .slider ul.tabs li.wholesale.current:hover .icon, .slider .tabs li.wholesale.active .icon, .slider ul.tabs li.wholesale.active:hover .icon {
    background-position: -307px 0px;
}

.slider .tabs li.wholesale:hover .icon {
    background-position: -346px -0px;
}

.slider .tabs li.wholesale.current:hover span, .slider .tabs li.wholesale.active:hover span {
    color: #000;
}

.slider .tabs li.wholesale:hover span {
    color: #e30613;
}

.slider .tabs li.shop.current, .slider .tabs li.shop.active {
    background: #ffcd26;
}

.slider .tabs li.shop.current .icon, .slider ul.tabs li.shop.current:hover .icon, .slider .tabs li.shop.active .icon, .slider ul.tabs li.shop.active:hover .icon {
    background-position: -307px -34px;
}

.slider .tabs li.shop:hover .icon {
    background-position: -346px -34px;
}

.slider .tabs li.shop.current:hover span, .slider .tabs li.shop.active:hover span {
    color: #000;
}

.slider .tabs li.shop:hover span {
    color: #ffcd26;
}

.slider .tabs li.truck.current {
    background: #004c93;
}

.slider .tabs li.truck.current .icon, .slider ul.tabs li.truck.current:hover .icon, .slider .tabs li.truck.active .icon, .slider ul.tabs li.truck.active:hover .icon {
    background-position: -307px -68px;
}

.slider .tabs li.truck:hover .icon {
    background-position: -346px -68px;
}

.slider .tabs li.truck.current:hover span, .slider .tabs li.truck.active:hover span {
    color: #000;
}

.slider .tabs li.truck:hover span {
    color: #004c93;
}

.slider .tabs li.retail.current, .slider .tabs li.retail.active {
    background: #e30613;
}

.slider .tabs li.retail.current .icon, .slider ul.tabs li.retail.current:hover .icon, .slider .tabs li.retail.active .icon, .slider ul.tabs li.retail.active:hover .icon {
    background-position: -307px -100px;
}

.slider .tabs li.retail:hover .icon {
    background-position: -346px -100px;
}

.slider .tabs li.retail.current:hover span, .slider .tabs li.retail.active:hover span {
    color: #000;
}

.slider .tabs li.retail:hover span {
    color: #e30613;
}

.slider ul.tabs li.wholesale.current:before, .slider ul.tabs li.wholesale.active:before {
    border-bottom-color: #e31e25;
}

.slider ul.tabs li.shop.current:before, .slider ul.tabs li.shop.active:before {
    border-bottom-color: #ffcd26;
}

.slider ul.tabs li.truck.current:before, .slider ul.tabs li.truck.active:before {
    border-bottom-color: #004c93;
}

.slider ul.tabs li.retail.current:before, .slider ul.tabs li.retail.active:before {
    border-bottom-color: #e30613;
}

.slider.mini {
    height: auto;
}

.slider.mini .tabs {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.slider.mini .tabs > li {
    background: #3b3b3b;
}

.slider.mini .tabs > li a, .slider.mini .tabs > li a span {
    color: #fff;
}

/*slider-inner*/

.slider-inner {
    height: 440px;
    background: #3b3b3b;
    overflow: hidden;
}

.slider-inner .wrapper {
    z-index: 200;
    bottom: 0px;
}

.slider-inner .slides {
    height: 440px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin-bottom: -60px;
}

.slider-inner .slides .item {
    position: relative;
    height: 440px;
    width: 100%;
    float: left;
    top: 0px;
    left: 0px;
    color: #fff;
    /*background-image: url(img/slider_inner/slider_inner_1.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: 102% auto;
    -webkit-background-size: 102% auto;
    -khtml-background-size: cover;
    background-size: cover;
}

.slider-inner .slides .item a.slide-link {
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
    cursor: pointer;
}

.slider-inner .slides .item .btn-go {
    position: relative;
    bottom: -25px;
}

.slider-inner .slides .item .title {
    font-family: 'gotham_promedium';
    font-size: 50px;
    font-style: italic; /*gotham_proitalic*/
    line-height: 100%;
    margin-top: 40px;
    max-width: 650px;
}

.slider-inner .slides .item .desc {
    font-size: 14px;
    margin-top: 10px;
    max-width: 650px;
    padding-bottom: 50px;
}

.slider-inner .navigation {
    position: relative;
    bottom: 0px;
    z-index: 100;
}

.slider-inner .navigation .bl {
    display: block;
    width: 100%;
}

.slider-inner .navigation ul.tabs {
    height: 7px;
    list-style: none;
    padding: 0px;
    position: relative;
    margin: 0px auto;
    display: inline-block;
    left: 50%;
}

.slider-inner .navigation ul.tabs li {
    width: 7px;
    height: 7px;
    margin: 0 2px;
    float: left;
    font-size: 0px;
    cursor: pointer;
    background: #848484;
    border: 0px solid #dedede;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.slider-inner .navigation ul.tabs li.current {
    background: #fff;
    border: 0px solid #dedede;
}

.slider-inner .navigation {
    bottom: 21px;
}

.slider-inner .navigation .slider-nav {
    bottom: 120px;
}

.slider-inner .navigation2 {
    position: relative;
    bottom: 0px;
    z-index: 200;
    margin-top: -70px;
}

.slider-inner .tabs2 {
    display: table;
    height: 67px;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
}

.slider-inner .tabs2 > li {
    position: relative;
    height: 67px;
    width: 20%;
    border-left: 1px solid #dedede;
    background: #fff;
    cursor: pointer;
    font-family: 'gotham_probold';
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.slider-inner .tabs2 li:first-child {
    border: none;
}

.slider-inner .tabs2 li.current:before, .slider .tabs li.active:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #e31e25;
    clear: both;
}

.slider-inner .tabs2 li .line {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    line-height: 110%;
    color: #000;
    clear: both;
    padding: 18px 0px;
    text-align: center;
    text-decoration: none;
}

.slider-inner .tabs2 li .line:hover {
    color: #fff;
    background-color: #000;
}

.slider-inner .tabs2 li span {
    display: inline-block;
    line-height: 110%;
    color: #000;
    clear: both;
    padding-left: 15px;
    text-align: left;
}

.slider-inner .tabs2 li.current span, .slider .tabs li.active span {
    color: #fff !important;
}

.slider-inner .tabs2 li:hover {
    background: #ffc400;
}

.slider-inner .tabs2 li .icon {
    display: none;
    float: left;
    width: 1px;
    height: 1px;
    border: 0px solid #fff;
    background-image: url(img/icon.png);
    background-position: -41px 0px;
    background-repeat: no-repeat;
}

.slider-inner.mini {
    height: auto;
    background-color: #ffc400;
}

.slider-inner.mini .navigation2 {
    margin-top: 0px;
}

.slider-inner.mini .navigation2 .tabs2 {
    margin-bottom: 0px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}

.slider-inner.mini .navigation2 .tabs2 li {
    background-color: #ffc400;
}

/*menu-left*/

.menu-left {
    margin: 0px !important;
    padding: 0px !important;
}

.menu-left li {
    margin: 7px 0;
    padding-right: 10px;
}

.menu-left li ul {
    margin-left: 20px;
    padding-bottom: 10px;
}

.menu-left li a {
    padding: 2px 0;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-left li.layer1 a.selected {
    color: #e30613;
    font-weight: bold;
}

.menu-left li a.parent.selected, .menu-left li a.firstLayer.selected {
    color: #e30613;
    font-weight: bold;
}

.menu-left li li a.selected {
    color: #e30613;
    font-weight: none !important;
}

.menu-left li a:hover {
    color: #e30613;
}

.menu-left.layers li li {
    border-left: 2px solid #e30613;
    padding-left: 10px;
}

.theme-blue .menu-left li a.selected, .theme-blue .menu-left li a:hover {
    color: #004c93;
}

.theme-blue .menu-left.layers li li {
    border-left: 2px solid #004c93;
}

.theme-yellow .menu-left li a.selected, .theme-yellow .menu-left li a:hover {
    color: #ffc400;
}

.theme-yellow .menu-left.layers li li {
    border-left: 2px solid #ffc400;
}

/* footer */

footer {
    min-width: 1020px;
    padding-top: 20px;
    height: 220px;
    overflow: hidden;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    clear: both;
    line-height: 100%;
    background: url(img/footer.png) center bottom repeat-x;
}

footer.bottom-line {
    bottom: 57px;
}

footer a {
    color: #717171;
}

/*partner*/
.partner {
    position: relative;
    border: 1px solid #e9e9e9;
    height: 100px;
    width: 100%;
    background: rgba(254, 254, 254, 0.95);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.partner ul {
    display: block;
    overflow: hidden;
    height: 100px;
    width: 100%;
    list-style: none;
}

.partner ul li {
    height: 100px;
    float: left;
}

.partner ul li div {
    width: 100%;
    height: 100px;
    display: table;
}

.partner ul li a, .partner ul li span {
    height: 100px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.partner ul li img {
    display: block;
    margin: 0 auto;
    max-width: 173px;
    height: auto;
}

/*footer_line*/
.footer_line {
    height: 132px;
    width: 100%;
    display: block;
    margin-top: 32px;
    border: 0px solid #f99;
}

.footer_line .info, footer .icon-blocks {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
}

.footer_line .info {
    color: #000000;
    font-size: 12px;
}

.footer_line .icon-blocks {
    margin-left: 160px;
    margin-top: 0px;
    line-height: 100%;
}

.footer_line .search-line {
    float: right;
}

.theme-yellow .footer_line .icon-blocks {
    margin-left: 60px;
}

.footer_line .icon-blocks .block.cart {
    max-width: 240px;
}

.footer_line .icon-blocks .block.cart .desc span {
    overflow: hidden;
    white-space: nowrap;
}

footer .search-line {
    margin-top: 7px;
}

footer .search-line input[type=text] {
    color: #000;
    background: #fff;
    border: 1px solid #d1d1d1;
}

footer .search-line input[type=submit] {
    background-position: -16px 0px;
}

.columns {
    width: 100%;
    display: inline-block;
    position: relative;
}

.columns .col {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.columns .col.main_left {
    width: 257px;
    margin-right: -100%;
    float: left;
    border-right: 1px solid #dedede;
}

.columns .col.main_right {
    display: block;
    margin-left: 257px;
    padding-left: 53px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.columns .col.col50 {
    width: 50%;
}

.columns .col.pd-r20 {
    padding-right: 20px;
}

.columns .col.pd-l44 {
    padding-left: 44px;
}

.columns .col.pd-r44 {
    padding-right: 44px;
}

.columns .col.bg {
    background: url(img/columnsep.png) left top repeat-y;
}

.conf_form_title,
.conf_form_short form {
    position: relative !important;
    left: 14px !important;
}

.conf_form_short {
    padding: 14px 0 !important;
}

a.back_all_news {
    display: block;
    width: auto;
    color: #000;
}

a.back_all_news:before {
    content: '';
    margin: 10px 7px 0 0;
    width: 12px;
    height: 11px;
    float: left;
    background: url(img/icon.png) -93px -14px no-repeat;
}

.title_line {
    display: inline-block;
    width: 100%;
    max-width: 294px;
    line-height: 22px;
    margin-bottom: 37px;
}

.title_line h2 {
    display: block;
    width: auto;
    float: left;
    margin: 0;
    padding: 0;
}

.title_line a.back_all_news {
    float: right;
}

/*breadcrumb*/
ul.breadcrumb-navigation {
    padding: 0px 0 25px 0;
    margin: 0;
    list-style: none;
}

ul.breadcrumb-navigation li {
    display: inline;
    color: #9d9d9d;
}

ul.breadcrumb-navigation li:first-child a {
    color: #e30613;
}

ul.breadcrumb-navigation a {
    color: #9d9d9d;
    font-size: 12px;
    text-decoration: none;
}

ul.breadcrumb-navigation span {
    color: #000;
    padding: 0 8px 0 6px;
}

.theme-blue ul.breadcrumb-navigation li:first-child a {
    color: #004c93;
}

.theme-yellow ul.breadcrumb-navigation li:first-child a {
    color: #ffc400;
}

/*left banner*/
.banner-left {
    width: 180px;
    margin-top: 30px!important;
}

.banner-left li {
    display: block;
    width: 100%;
    height: auto;
    padding: 0px;
    background: #dedede;
    margin: 0 0 17px 0;
    line-height: 0px;
}

.banner-left li a {
    display: block;
    width: 100%;
    margin: 0px;
}

.banner-left li img {
    width: 100%;
    height: auto;
}

/*news-list*/
ul.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.news-list li {
    width: 100%;
    margin-bottom: 25px;
}

ul.news-list li h3 {
    font-family: 'gotham_probold';
    font-size: 16px;
    padding: 0 0 12px 0;
    margin: 0px;
    text-transform: none;
    min-height: 35px;
    line-height: 115%;
}

ul.news-list li h3 a {
    text-decoration: none;
    color: #000;
}

ul.news-list li .img {
    width: 87px;
    height: 87px;
    overflow: hidden;
    float: left;
    margin-right: -100%;
    border: 2px solid #dadada;
}

ul.news-list li .desc {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

ul.news-list li .desc .img img {
    height: 100%;
}

ul.news-list li .desc .text {
    margin-left: 107px;
}

ul.news-list li .desc .text p {
    padding: 0 0 5px 0;
    margin: 0;
    line-height: 16px;
    font-size: 13px;
}

ul.news-list li .desc a.more {
    color: #e31e25;
    font-size: 13px;
    text-transform: capitalize;
}

ul.news-list li .desc a.more:before {
    display: block;
    clear: both;
    width: 100%;
}

ul.news-list.akcii h3 {
    padding-left: 20px;
}

ul.news-list.akcii h3:before {
    content: '';
    margin: 4px 10px 0 -20px;
    position: absolute;
    width: 12px;
    height: 10px;
    float: left;
    background: url(img/icon.png) -80px -11px no-repeat;
}

ul.news-list.akcii a.img {
    display: inline-block;
    width: 275px;
    height: 87px;
    overflow: hidden;
}

.col250 ul.news-list h3 {
    text-transform: none !important;
}

.col250 ul.news-list .text p {
    padding-bottom: 8px !important;
}

.theme-blue ul.news-list li .desc a.more {
    color: #004c93;
}

ul.news-list.left_list {
    padding-right: 40px;
}

ul.news-list.left_list .desc {
}

/*news-list-full*/
ul.news-list-full {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.news-list-full li {
    display: list-item;
    padding-bottom: 35px;
}

ul.news-list-full li .img {
    display: block;
    height: 105px;
	float: left;
    /*background: #ececec;
    width: 291px;
    width: 105px;
    margin-right: -100%;*/
    margin-right: 20px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.news-list-full li .img .date {
    position: absolute;
    width: 75px;
    height: 20px;
    top: 10px;
    background: rgba(227, 6, 19, 0.5);
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
}

ul.news-list-full li .desc {
    /*margin-left: 310px;
    margin-left: 124px;*/
}

ul.news-list-full li .desc h3 {
    padding-bottom: 14px;
    font-size: 14px;
    font-family: 'gotham_promedium';
    line-height: 120%;
}

ul.news-list-full li .desc h3 a {
    color: #000;
    text-decoration: none;
}

ul.news-list-full li .desc p {
    display: block;
    min-height: 35px;
    padding-bottom: 12px;
    font-family: 'gotham_proregular';
    font-size: 12px;
    line-height: 14px;
}

ul.news-list-full li .desc .more {
    text-decoration: none;
    border-bottom: 1px solid #e98106;
}

/* news-detail */
.news-detail img.main {
    width: 100%;
    height: auto;
    margin: 0 0 25px 0;
    padding: 0px;
    background: #eee;
}

/* contacts */
.contacts {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts li {
    display: inline-block;
    width: 100%;
    margin-bottom: 29px;
}

.contacts li .foto {
    width: 151px;
    height: 151px;
    overflow: hidden;
    float: left;
    margin-right: -100%;
    background: #fff;
}

.contacts li .desc {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin-left: 170px;
}

.contacts li .desc p {
    padding: 0 0 0px 0;
    margin: 0;
    line-height: 20px;
    font-size: 13px;
}

.files_block input {
    border: none !important;
}

/* photo-galery-albums */
.photo-galery-albums {
    list-style: none;
    padding: 0;
    margin: 0;
}

.photo-galery-albums li {
    display: inline-block;
    width: 100%;
    margin-bottom: 41px;
}

.photo-galery-albums li .foto {
    width: 302px;
    height: 180px;
    overflow: hidden;
    float: left;
    margin-right: -100%;
    background: #d9d9d9;
}

.photo-galery-albums li .desc {
    display: block;
    margin-left: 331px;
}

.photo-galery-albums li .desc h2 {
    padding: 0px;
    margin: 0 0 24px 0;
    line-height: 16px;
    font-size: 14px;
}

.photo-galery-albums li .desc h2 a {
    color: #000;
    text-decoration: none;
}

.photo-galery-albums li .desc .text {
    padding: 0px;
    margin: 0px;
    line-height: 18px;
    font-size: 12px;
}

.photo-galery-albums li .desc .text p {
    padding: 0px;
    margin: 0px;
    line-height: 18px;
    font-size: 12px;
}

/* photo-galery-list */
.photo-galery-list {
    display: inline-block;
    list-style: none;
    padding: 0 !important;
    margin: 0px 0px 40px 0px !important;
}

.photo-galery-list li {
    display: block;
    float: left;
    margin: 0 20px 20px 0;
    background: #eee;
}

.photo-galery-list li.break {
    margin-right: 0px;
}

.photo-galery-list li.break:after {
    clear: both;
    display: block;
    height: 0px;
    width: 100%;
}

.photo-galery-list li a {
    display: block;
    width: 216px;
    height: 180px;
    background: #d9d9d9;
    background-repeat: no-repeat;
    background-position: center center;
}

.photo-galery-list li a img {
    width: 100%;
    height: auto;
}

/*vacance*/
.vacance {
    display: inline-block;
    list-style: none;
    padding: 0 !important;
    margin: 0px 0px 40px 0px !important;
}

.vacance li.item {
    display: block;
    margin: 0 0px 15px 0;
}

.vacance li p.duties {
    font-weight: bold;
}

.vacance li h2 {
    font-size: 14px;
}

/*faq-list*/
.faq-list {
    display: inline-block;
    list-style: none;
    padding: 0 !important;
    margin: 0px 0px 0px 0px !important;
}

.faq-list li {
    display: block;
    margin: 0 0px 56px 0;
    padding: 0px;
}

.faq-list li .question {
    color: #e30613;
    padding: 0 20px 23px 81px;
    min-height: 68px;
    line-height: 18px;
    background: url(img/faq.png) 0 4px no-repeat;
}

.faq-list li .answer {
    padding: 30px 18px;
    border: 1px solid #d6d6d6;
    position: relative;
}

.faq-list li .answer:before, .faq-list li .answer:after {
    content: '';
    position: absolute;
    left: 66px;
    top: -20px;
    margin-left: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid #d6d6d6;
    clear: both;
}

.faq-list li .answer:after {
    border-bottom-color: #fff !important;
    top: -18px !important;
}

/*brand-portfolio*/
.brand-portfolio {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
}

.brand-portfolio li {
    width: 50%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 15px;
    min-height: 150px;
    padding-bottom: 20px;
}

.brand-portfolio li.second {
    padding-right: 0px;
    padding-left: 15px;
}

.brand-portfolio li.second:after {
    display: block;
    width: 100%;
    clear: both;
}

.brand-portfolio li .brand {
    display: table;
    width: 100%;
}

.brand-portfolio li .brand .foto {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    text-align: center;
}

.brand-portfolio li .brand .foto a {
    display: block;
}

.brand-portfolio li .brand .foto a.link {
    margin-top: 8px;
}

.brand-portfolio li .brand .foto img {
    width: auto;
    height: auto;
    border-width: 0px;
}

.brand-portfolio li .brand .desc {
    display: table-cell;
    padding: 0 0 0px 29px;
    margin: 0px;
    line-height: 18px;
    font-size: 12px;
}

.brand-portfolio li .brand .desc p {
    padding: 0px 0px 5px 0px;
    margin: 0px;
    line-height: 18px;
    font-size: 12px;
}

/*catalog-left-menu*/
.catalog-left-menu {
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.catalog-left-menu li {
    width: 100%;
    height: 54px;
    margin-bottom: 16px;
    font-family: 'gotham_promedium';
    font-size: 14px;
}

.catalog-left-menu li div {
    background-image: url(img/catalog-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 52px;
    height: 52px;
    margin-right: 13px;
    border: 1px solid #e9e9e9;
}

.catalog-left-menu li span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 52px;
    padding-left: 14px;
}

.catalog-left-menu li span a {
    text-decoration: none;
    color: #000;
}

.catalog-left-menu li span a:hover {
    color: #e30613;
}

.catalog-left-menu li.avtomasla .ico {
    background-position: 0 0;
}

.catalog-left-menu li.filtry .ico {
    background-position: 0 -52px;
}

.catalog-left-menu li.avtohimiya .ico {
    background-position: 0 -104px;
}

.catalog-left-menu li.antifriz .ico {
    background-position: 0 -156px;
}

.catalog-left-menu li.akkumulyatory .ico {
    background-position: 0 -208px;
}

.catalog-left-menu li.aksessuary .ico {
    background-position: 0 -260px;
}

.catalog-left-menu li.dvr .ico {
    background-position: 0 -312px;
}

.catalog-left-menu li.gruzoviye-shiny .ico {
    background-position: 0 -364px;
}

.catalog-left-menu li.spare-parts .ico {
    background-position: 0 -416px;
}

/* pagination */
.pagination_block {
    display: block;
    height: 32px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.pagination {
    display: inline-block;
    height: 32px;
    margin: 0 auto;
    width: auto;
}

.pagination span, .pagination a {
    display: block;
    height: 32px;
    width: 32px;
    margin: 0 8px;
    float: left;
    line-height: 32px;
    text-align: center;
    font-family: 'gotham_promedium';
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pagination a {
    background: #ededed;
    color: #464545;
    text-decoration: none;
}

.pagination span, .pagination a:hover {
    background: #e30613;
    color: #fff;
}

.pagination a:active {
    background: #c70511;
    color: #fff;
}

.pagination a.nav, .pagination span.nav {
    width: 12px;
    background: url(img/pagination.png) 0px center no-repeat;
    font-size: 0px;
}

.pagination a.nav.last, .pagination span.nav.last {
    background-position: -8px center;
}

.pagination a.nav.first:hover {
    background-position: -23px center;
}

.pagination a.nav.last:hover {
    background-position: -33px center;
}

.theme-yellow .pagination span, .theme-yellow .pagination a:hover {
    background-color: #ffc400;
    color: #fff;
}

.theme-yellow .pagination a:active {
    background: #ffc400;
    color: #fff;
}

.theme-yellow .pagination a.nav, .theme-yellow .pagination span.nav {
    background: url(img/pagination.png) 0px center no-repeat;
}

.theme-yellow .pagination a.nav.last, .theme-yellow .pagination span.nav.last {
    background-position: -10px center;
}

.theme-yellow .pagination a.nav.first:hover {
    background-position: -45px center;
}

.theme-yellow .pagination a.nav.last:hover {
    background-position: -56px center;
}

/*sitemap*/
.sitemap {
}

.sitemap ul {
    margin-top: 15px;
}

/*fancyapp-theme*/
.fancybox-overlay {
    background-image: url(img/overflow_bg.png) !important;
}

.fancyapp-theme {
    border: 5px solid rgba(0, 0, 0, 0.3) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fancyapp-theme .fancybox-skin {
    padding: 0px !important;
}

.fancyapp-theme .fancybox-close {
    right: 17px;
    top: 17px;
    background: url(img/icon.png) -38px -0px no-repeat;
    height: 15px;
    width: 14px;
}

.fancyapp-theme .fancybox-close:hover {
    background-position: -52px 0;
}

/* form */
form.mForm {
    display: block;
    width: 365px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form.mForm.ajax {
    width: 425px;
    padding: 25px 65px;
    overflow: hidden;
}

form.mForm h3 {
    display: block;
    font-size: 14px;
    text-align: center;
    padding-bottom: 35px;
}

form.mForm .field {
    display: block;
    border: 1px solid #ccc;
    padding: 0px;
    margin-bottom: 15px;
    min-height: 35px;
    width: 295px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    line-height: 0%;
    z-index: 200;
    position: relative;
}

form.mForm .field:before {
    content: ' ';
    position: absolute;
    display: block;

    background-image: url(img/icon_form.png);
    background-position: right 0;
    background-repeat: no-repeat;

    border: 0px;
    width: 24px;
    height: 24px;
    z-index: 400;
    margin: 12px 0 0 8px;
}

form.mForm .field.name:before, form.mForm .field.login:before {
    background-position: right 0;
}

form.mForm .field.organization:before {
    background-position: right -22px;
}

form.mForm .field.email:before {
    background-position: right -45px;
}

form.mForm .field.phone:before {
    background-position: right -72px;
}

form.mForm .field.message:before {
    background-position: right -96px;
}

form.mForm .field.password:before {
    background-position: right -96px;
}

form.mForm .field.captcha:before {
}

form.mForm .field_captcha_img {
    padding: 0px;
    margin-bottom: 15px;
    text-align: center;
}

form.mForm .field_checkbox {
    border: 0px;
    padding: 0px;
    margin-bottom: 15px;
    color: #000;
    font-size: 14px;
}

form.mForm .field.mess {
    height: auto;
}

form.mForm .error_text {
    color: #f00 !important;
    padding: 15px;
    text-align: center;
}

form.mForm .field.error, form.mForm input.error {
    border-color: #f5a8ad;
    background-color: #fff4f5;
}

form.mForm .requered_info {
    padding-bottom: 7px;
}

form.mForm .field input, form .field textarea {
    width: 100%;
    line-height: 14px;
    font-size: 14px;
    padding-left: 40px;
    border: none;
    z-index: 50;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    line-height: 100%;
}

form.mForm .field input {
    height: 48px;
    padding-top: 14px;
    padding-bottom: 14px;
}

form.mForm .field textarea {
    height: 129px;
    padding-top: 14px;
    padding-bottom: 14px;
}

form.mForm .field.error input, form.mForm .field.error textarea {
    background-color: #fff4f5;
}

form.mForm .field input::-webkit-input-placeholder {
    color: #000;
    font-size: 14px;
}

form.mForm .field input:-moz-placeholder {
    color: #000;
    font-size: 14px;
}

form.mForm .field textarea::-webkit-input-placeholder {
    color: #000;
    font-size: 14px;
}

form.mForm .field textarea:-moz-placeholder {
    color: #000;
    font-size: 14px;
}

form.mForm .links {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 31px;
}

form.mForm .links a {
    color: #000;
    font-size: 13px;
}

form.mForm .buttons {
    margin-top: 26px;
    text-align: center;
}

form.mForm .buttons button {
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    cursor: pointer;
    min-width: 200px;
}

form.mForm .files {
    margin-bottom: 15px;
}

#top-auth-form button {
    padding: 0 25px;
}

.ajax_form_result {
    display: table;
    width: 425px;
    height: 500px;
}

.ajax_form_result.mini {
    height: 300px;
    width: 100%;
    min-width: 225px;
}

.ajax_form_result span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: 'gotham_probold';
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}

.page_404 {
    width: 100%;
}

.page_404 .road {
    overflow: hidden;
    width: 100%;
}

.page_404 .road > img {
    width: 100%;
    height: auto;
}

.page_404 .bt {
    width: 100%;
    display: inline-block;
}

.page_404 .page_404_bt .oops {
    float: left;
    display: inline-block;
    width: 1%;
}

.page_404 .page_404_bt .text {
    float: right;
    display: inline-block;
    width: 1%;
}

.soc {
    float: right;
    margin: 8px;
}

.soc_foot {
    display: inline-block;
    margin-left: 100px;
}

.soc a img {
    height: 25px;
    margin-left: 5px;
}

.soc_foot a {
    vertical-align: middle;
    display: inline-block;
    height: 40px;
}

.soc_foot a img {
    height: 30px;
    margin-left: 5px;
}

@media (min-width: 1200px) {
    .conf_form_wide{
        max-height: 70px;
    }
}  



.add_car_form{
    background: #333333;
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 0px 10px 10px 10px;
    position: fixed;
    z-index: 1000;
    top: 220px;
    right: -560px    
}
.add_car_form .text{
    color: white;
    width: 422px;
    text-align: center;
    font-size: 19px;
    line-height: 25px;
    font-family: 'gotham_probold'; 
    margin: 5px auto 20px auto; 
}
.add_car_form label{
    display: inline-block; 
    padding: 5px;    
}
.add_car_form .mark{
    width: 275px;
}
.add_car_form .year{
    width: 187px;
}
.add_car_form .cap, .add_car_form .HP{
    width: 231px;
} 
.add_car_form .name{
    width: 122px;
}
.add_car_form .phone{
    width: 200px;
}
.add_car_form .email{
    width: 122px;
}
.add_car_form input, .add_car_form textarea{
    width: 480px;
    padding-left: 7.5px;
    border: 1px solid #8B8B88;
    border-radius: 4px;
    font-size: 14px;
    font-family: sans-serif;
    height: 41px;     
}
.add_car_form textarea{
    height: 100px;
    padding-top: 7.5px;
    resize: vertical;
    width: 480px;
}
.label-padding-right{
    padding-right: 2px !important; 
}
.label-padding-left{
    padding-left: 2px !important; 
}
.add_car_form button{
    background: #e30613;
    border: none;
    height: 50px;
    color: #fff;
    line-height: 8px;
    padding: 0 23px;
    font-size: 15px;
    font-family: 'gotham_promedium';
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}
.add_car_form .block{
    width: 40px;
    height: 150px;
    position: absolute;
    left: -40px;
    top: 0;
    background-color: #e30613;
    border-radius: 10px 0 0 10px;   
} 
.add_car_form .block p{
    transform: rotate(-90deg);
    text-align: center;
    font-size: 19px;
    line-height: 25px;
    font-family: 'gotham_probold';
    color: white;
    position: absolute;
    top: 50px;
    left: 5px;    
}  