#bx-component-debug {z-index: 1500;}
img.otstup {margin: 15px;}

img.otstup-left {margin: 0px 0 0px 15px;}
img.otstup-right {margin: 0px 15px 0px 0;}

img.otstup-vertical {margin: 15px 0;}
img.otstup-vertical-left {margin: 15px 0 15px 15px;}
img.otstup-vertical-right {margin: 15px 15px 15px 0;}

img.otstup-horisontal {margin: 0 20px;}
img.otstup-horisontal-top {margin: 15px 15px 0 15px;}
img.otstup-horisontal-bottom {margin: 0 15px 0 15px;}

.div-table {display: table;}
    .div-table .div-tr{display: table-row; width: 100%;}
    .div-table .div-tr > div{
        display: table-cell;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        }


select.box{
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'gotham_proregular';
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
select.box{height: 34px; line-height: 34px; padding: 0px 15px;}

.button, button{
    background: #fff; border: 1px solid #e9e9e9;
    height: 31px; color: #000;
    line-height: 31px; padding: 0 12px;
    font-size: 12px;
    font-family: 'gotham_promedium';
    text-transform: uppercase;
    cursor: pointer;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    }
    .button {display: inline-block; text-decoration: none;}
    .theme-yellow .button, .theme-yellow button , .button.yellow, button.yellow{border: 1px solid #ffc400; background: #ffc400; color: #fff;}
	.button.green{border: 1px solid #99CC33; background: #99CC33; color: #fff;}
    .theme-red .button, .theme-red button , .button.red, button.red{border: 1px solid #e30613; background: #e30613; color: #fff;}

    .button.white, button.white{border: 1px solid #e9e9e9; background: #fff; color: #777;}

    .button.gray, button.gray{border: 1px solid #6d6d6d; background: #6d6d6d; color: #fff;}
    .button.round, button.round{
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        }



.icon {
    display: inline-block; position: relative;
    margin-right: 2px; margin-left: 24px;
    text-decoration: none;
    }
    .icon.icon16{height: 16px; line-height: 16px; }

    .icon span{
        display: inline-block; line-height: 12px; height: 12px;
        font-size: 12px; color: #999999;
        border-bottom: 1px dashed #999;
        }

    .icon:before{
        content: '';
        position: absolute; display: block;
        width: 14px; line-height: 12px; left: -22px; top: 2px;
        background-image: url(img/icon.png);
        background-repeat: no-repeat;
        }
        .icon.icon16:before{height: 16px; }

    .icon.cart {margin-left: 28px;}

	.icon.favorite {margin-left: 20px;}
	.icon.remove {margin-left: 20px;}
	
    .icon.compare:before {background-position: -95px -74px; width: 14px;}
    .icon.favorite:before {background-position: -73px -74px; width: 11px; left: -20px;}
    .icon.cart:before {background-position: -38px -75px; width: 16px; left: -28px; }
    .icon.result:before {background-position: -20px -55px; width: 16px; top: 0px;}
    .icon.arhiv:before {background-position: -38px -55px; width: 16px; top: 0px;}
	.icon.remove:before {background-position: -46px -123px; width: 10px; left: -18px;}

    .active .icon.compare:before {background-position: -109px -74px; }
    .active .icon.favorite:before {background-position: -84px -74px;  }
    .active .icon.cart:before {background-position: -55px -75px; }

.nav-icon-white {
    display: inline-block; height: 31px; width: 31px;
    background-image: url(img/icon.png);
    background-repeat: no-repeat;
    }
    .nav-icon-white.up{background-position: -65px -92px;}
    .nav-icon-white.down{background-position: -97px -92px;}
    .nav-icon-white.prev{background-position: 0px -92px;}
    .nav-icon-white.next{background-position: -33px -92px;}

/*catalog-items*/
.catalog-name {display: block; text-decoration: none; color: #000; font-size: 13px; line-height: 15px; padding-bottom: 15px;}

/*price-block*/
.price-block {display: inline-block; width: 100%;font-size: 18px; font-family: 'gotham_probold';}
    .price-block span{font-size: 12px; padding-left: 6px; font-family: 'gotham_promedium';}

.section_title a.list-all{font-size: 14px; float: right; color: #000000; margin-left: 18px; margin-right: 21px;position: relative;}
    .section_title a.list-all span{display: block; width: 10px; height: 5px;position: absolute;left: -17px; top: 8px;background: url(img/icon.png) -94px  0px no-repeat;}

ul.catalog-list-left {display: inline-block; padding-right: 21px; padding-bottom: 0px;}
    ul.catalog-list-left li { display: inline-block; width: 100%;
        padding-bottom: 13px; border-bottom: 1px solid #e9e9e9;
        margin: 13px 21px 0 0;
        }
        ul.catalog-list-left li:last-child{border-bottom: 0px; margin-bottom: 0px; padding-bottom: 0px;}
        ul.catalog-list-left li .image{
            float: left; width: 78px; height: 78px; border: 2px solid #e9e9e9; margin: 0 -100% 0 0;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .catalog-list-left li .desc{margin-left: 100px;}
        .catalog-list-left li .catalog-name {display: block; }
        .catalog-list-left li .price-block {display: inline-block; width: 100%;}


ul.catalog-section-list {min-width: 450px; display: inline-block; padding: 0px;}
    ul.catalog-section-list li {width: 135px; height: 210px; float: left; margin: 0 16px 10px 0; overflow: hidden;}
        .catalog-section-list li:nth-child(3n+3) {margin-right: 0px; clear: right;}
        .catalog-section-list li.last3 {max-height: 220px; height: auto;}

        .catalog-section-list li a {text-decoration: none; color: #000; display: block;}
        .catalog-section-list li .image {
            display: block; width: 130px; height: 130px;
            border: 2px solid #e9e9e9; margin-bottom: 10px;
            background-repeat: no-repeat;
            background-position: center center;
            }

        .catalog-section-list li span {
            display: block; width: 100%; text-align: center;
            font-size: 14px; font-family: 'gotham_promedium';
            }

    .catalog-section-list.layer2 {max-width: 690px;}
        .catalog-section-list.layer2 li {width: 138px; height: 180px; margin-bottom: 10px; margin-right: 45px;}
            .catalog-section-list.layer2 li:nth-child(3n+3) {margin-right: 45px; clear: none;}
            .catalog-section-list.layer2 li:nth-child(4n+4) {margin-right: 0px; clear: right;}
                .catalog-section-list.layer2 li .image {
                    width: 138px; height: 138px; border-width: 0px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    background-color: #ccc;
                    }


.catalog-specoffers {margin-top: 55px;}
    .catalog-specoffers h3{font-size: 22px; text-transform: uppercase;}

ul.catalog-specoffers-list {display: inline-block; width: 100%; border-bottom: 1px solid #e9e9e9; padding: 12px 0px 20px 0px;}
    ul.catalog-specoffers-list:last-child{border-bottom-width: 0px; }
ul.catalog-specoffers-list li {
    width: 138px; min-height: 220px;
    float: left; margin: 0 34px 0px 0;
}
ul.catalog-specoffers-list li:last-child{margin-right: 0px;}

.catalog-specoffers-list li .desc a {display: inline-block; height: 30px;}
.catalog-specoffers-list li .image {
    display: block; width: 138px; height: 138px;
    margin-bottom: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    }

/*day-product*/
.day-product{
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    padding: 0px 12px 12px 12px;
    margin-bottom: 18px;
    border: 1px solid #e9e9e9;
    max-width: 173px;
    }

    .day-product .title {
        display: inline-block;
        position: relative; height: 20px;
        line-height: 20px; font-size: 12px;
        padding: 0px 9px; background: #ffc400; color: #fff;
        top: -1px;
        }

    .day-product .catalog-name {display: inline-block; width: 100%; padding: 5px 0 11px 0;}
    .day-product .price-block {display: inline-block; padding-bottom: 15px; }
    .day-product .image {display: block; width: 146px; height: 146px;
        background-repeat: no-repeat; background-position: center center; background-color: #ffffff;}

/*ask-question*/
.ask-question {
    max-width: 173px; margin-bottom: 18px;
    padding-bottom: 18px; border-bottom: 1px solid #e9e9e9;
    }
    .ask-question button, .ask-question .button{background: #ffc400; border: 0px; color: #ffffff; height: 36px; line-height: 36px;}
    .ask-question button span, .ask-question .button span{display: inline-block; height: 16px; width: 16px; background: #ff0000; float: left;
        background: url(img/icon.png) -1px -55px no-repeat; margin: 9px 0;
        margin-right: 10px;
        }

/*radio-group*/

.radio-block {padding-top: 10px;}
    .radio-block input[type=radio]{float: left; display: none;}
    .radio-block input[type=radio] + span{
        cursor: pointer;
        content: ''; display: inline;
        height: 17px; width: 17px;
        background: url(img/icon.png);
        background-repeat: no-repeat;
        background-position: -1px -73px;
        float: left;
        margin: 0px -100% 0 0px;
    }
    .radio-block input[type=radio]:checked + span{
        background-position: -20px -73px;
        }

    .radio-block label{ display: block; width: 100%; min-height: 17px; line-height: 17px;
         cursor: pointer; margin-left: 25px;
        }


.check-button {padding-top: 10px;}
    .check-button .button{padding: 0 10px 0 6px; text-align: left; display: inline-block;}
    .check-button input[type=checkbox]{display: none;}
    .check-button input[type=checkbox] + .button{border: 1px solid #ffc400; }
    .check-button input[type=checkbox] + .button span{
        display: inline; content: '';
        float: left; cursor: pointer;
        height: 21px; width: 21px;
        margin: 5px -100% 0 0px;
        border: 1px solid #bbbbbb;

        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        background: #fff;
        margin-right: 10px;
        }
    .check-button input[type=checkbox]:checked + .button{border: 1px solid #ffc400; background: #ffc400; color: #fff;}
    .check-button input[type=checkbox]:checked + .button span{
        background: url(img/icon.png);
        background-position: -0px -124px;
        background-repeat: no-repeat;
        border: 1px solid #ffc400;
        }

    .check-button label{ display: block;
        padding: 0 10px;
        text-align: center;
        cursor: pointer;
    }

/*interview*/
.interview {max-width: 173px; }
    .interview .title{display: inline-block; font-size: 18px; font-family: 'gotham_probold'; padding-bottom: 20px; text-transform: uppercase;}
    .interview .question{font-weight: bold; margin-bottom: 16px;}
    .interview .ansvers {margin-bottom: 15px;}
        .interview .ansvers .radio-block{padding-top: 0px; padding-bottom: 7px;}
        .interview button{width: 163px; margin-bottom: 18px;}

    .interview .link {color: #000000; display: block; margin-bottom: 9px;}
        .interview .link:last-child {margin-bottom: 0px;}
    .interview .link:after {content: ' '; display: inline-block; clear: both; width: 100%; height: 1px;}

/*catalog-opt-line*/
.catalog-opt-line {display: inline-block; width: 100%; padding-bottom: 26px;}
    .catalog-opt-line span {display: block; line-height: 31px; float: left; padding-right: 6px; font-size: 12px; font-family: 'gotham_probold'; color: #3c3c3c;}
    .catalog-opt-line .sort-opt{float: left;}
    .catalog-opt-line .pagination-opt{float: right;}

/*opt-group*/
.opt-group {
    display: inline-block;
    padding: 0px; margin: 0px;
    height: 31px;
    line-height: 31px;
    }
    .opt-group .opt{
        display: block; background: #fff;
        text-decoration: none; color: #595959; padding: 0 13px; height: 29px;
        border: 1px solid #d1d1d1;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        float: left;
        margin-left: -1px;
        text-transform: uppercase;
        font-size: 10px;
        font-family: 'gotham_probold';
        }
        .opt-group .opt:first-child{
            -moz-border-radius-topleft: 2px;
            -webkit-border-top-left-radius: 2px;
            border-top-left-radius: 2px;
            -moz-border-radius-bottomleft: 2px;
            -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
            }
        .opt-group .opt:last-child{
            -moz-border-radius-topright: 2px;
            -webkit-border-top-right-radius: 2px;
            border-top-right-radius: 2px;
            -moz-border-radius-bottomright: 2px;
            -webkit-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px;
            }

        .opt-group .opt.active{border-color: #ffc400 !important; background: #ffc400; color: #ffffff; }
        .opt-group .opt.active + .opt {border-left-width: 0px;}


ul.catalog-element-list {}
.catalog-element-list li{ height: 128px; border: 1px solid #d9d9d9; border-bottom-width: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
    padding: 12px 12px;
}
.catalog-element-list li:last-child{ border-bottom-width: 1px;}

.catalog-element-list li .image {display: block;
    width: 103px; height: 103px;
    margin: 0 -100% 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    position: relative;
    z-index:50;
}
.catalog-element-list li .desc{display: block; position: relative; margin-left: 122px; height: 100%; z-index:10;}
    .catalog-element-list li .desc .line1 {display: inline-block; width: 100%;
        margin-top: 6px; height: 60px;
        }
    .catalog-element-list li .desc .line2 {width: 100%; position: relative;
        bottom: 0px; height: 31px; line-height: 31px;
        display: inline-block;
        }

    .catalog-element-list li .left-block {float: left; display: block;}
    .catalog-element-list li .right-block {float: right; display: block; width: 120px; text-align: right;}
    .catalog-element-list li .action-block {float: right; border-left: 0px solid #ff0000; height: 31px; line-height: 31px; }

    .catalog-element-list li a {text-decoration: none;}
    .catalog-element-list li .name {color: #000; font-size: 13px; max-width: 390px; display: inline-block; max-height: 40px; overflow: hidden;}
    .catalog-element-list li .info {color: #999999; font-size: 13px; max-width: 390px; max-height: 40px; overflow: hidden;}
    .catalog-element-list li .availability {color: #6eba14; font-size: 12px;}
    .catalog-element-list li .icon:before {top: 2px;}

    .availability span{color: #70a61c; padding-left: 3px;}
    .availability span.no{color: #ccc !important; }
    .availability span.red {color: red !important;}


    .catalog-element-list li .price {color: #000; font-size: 18px; margin-bottom: 5px;}
        .catalog-element-list li .price span{font-size: 12px;}

    .catalog-element-list li .articul {display: inline-block;  color: #999999; font-size: 13px;}
        .catalog-element-list li .articul span{color: #000;}

    .catalog-element-list li .action-block .link {margin-right: 15px;}
		.catalog-element-list li .action-block .link.favorite{margin-right: 30px;}

    .catalog-element-list li .buy{
        float: right; height: 31px; padding: 0 33px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        }

/*catalog-element*/
.catalog-element{}
    .catalog-element .col.main_left{width: 337px; border-width: 0px;}
    .catalog-element .col.main_right{margin-left: 337px; padding-left: 31px;}
        .catalog-element .col.main_right .col.main_left{ width: 345px;}
        .catalog-element .col.main_right { overflow: visible;}
        .catalog-element .col.main_right .col.main_right{ margin-left: 345px; overflow: visible;}

    .catalog-element .main-image{
        display: block; height: 335px; width: 335px; margin-bottom: 8px;
        background-position: center center;
        background-repeat: no-repeat;
        border: 1px solid #eeeeee;
        }
        .catalog-element .galery{width: 335px; overflow: hidden;}
            .catalog-element .galery a{
                float: left; display: block; height: 69px; width: 69px;
                background-position: center center;
                background-repeat: no-repeat;
                border: 1px solid #eeeeee;
                margin: 0 8px 8px 0;
                }

        .catalog-element .price-block.main{font-size: 24px; }
            .catalog-element .price-block.main span{font-size: 14px; font-family: 'gotham_probold'; text-transform: uppercase;}

        .catalog-element .your_bonus {font-family: 'gotham_proregular'; font-weight: bold; font-size: 12px; margin-top: 10px; }
            .catalog-element .your_bonus span{padding-left: 3px;}

        .catalog-element .availability{font-family: 'gotham_proregular'; font-size: 11px; margin-top: 20px; } /*gotham_proregular*/


        .catalog-element .catalog-action{display: block; margin-top: 19px; }
            .catalog-element .catalog-action .link {white-space: nowrap; float: none; margin-left: 20px; margin-top: 7px;}
                .catalog-element .catalog-action .link:first-child{margin-top: 0px;}
                .catalog-element .catalog-action .link:before{left: -20px; top: 2px;}
                .catalog-element .catalog-action .link:after {content: ' '; clear: both; display: inline-block; width: 100%; height: 0px;}

        .catalog-element .buy_now{padding: 0 28px; margin-top: 27px; margin-bottom: 27px;}

        .catalog-element ul.product_variant{}
            .catalog-element ul.product_variant li{margin: 0 0 9px 0;}
                .catalog-element ul.product_variant li a{color: #000;}

.tovar-slider {
    display: inline-block; height: 134px;
    width: 252px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    }
    .tovar-slider .nav {
        display: block; position: absolute;
        top: 50%; margin-top: -15px; z-index: 100;
        }
        .tovar-slider .nav.prev {left: -17px;}
        .tovar-slider .nav.next {right: -17px;}

    .tovar-slider .slider-block{display: block; width: 100%; height: 100%; overflow: hidden;}
        .tovar-slider .slider-block .slider-item{padding: 15px 18px;}
            .tovar-slider .slider-block .slider-item .image{
                float: left; display: block; width: 60px; height: 60px; margin: 0 -100% 0 0;
                background-position: center center;
                background-repeat: no-repeat;
                }
            .tovar-slider .slider-block .slider-item .desc{margin-left: 73px; }
            .tovar-slider .slider-block .slider-item a.show{height: 30px; line-height: 30xp; padding: 0 24px; font-size: 12px; margin-top: 5px; text-transform: none;}
            .tovar-slider .slider-block .slider-item .catalog-name{padding: 10px 0 0 0; }

/*tab-control*/
ul.tab-control{display: block; position: relative; z-index: 10;}
    ul.tab-control > li{
        border: 1px solid #e6e6e6;
        border-right-width: 0px; line-height: 40px;
        float: left; height: 40px; padding: 0px;
        background: #fff;
        }
        ul.tab-control > li:last-child{border-right-width: 1px;}
        ul.tab-control > li a{
            text-decoration: none; text-transform: uppercase;
            font-size: 12px; color: #585858; font-family: 'gotham_probold';
            padding: 10px 35px;
            }
            ul.tab-control li.active{border-bottom-width: 0px;}
            ul.tab-control > li.active a{text-decoration: none; color: #ffc400;}

/*catalog-tab*/
.catalog-tab{display: inline-block; width: 100%; margin-top: 30px;}


    .content .tabs{
        display: inline-block; width: 100%;
        padding: 35px 32px; margin-top: -2px;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
        -moz-box-sizing: border-box; /*Firefox 1-3*/
        -webkit-box-sizing: border-box; /* Safari */
        background: #fff;
        z-index: 5;
        }
        .content  .tabs > div{}

        .content .tabs.personal{border-width: 1px 0 0 0; padding: 35px 0px;}

.prop-block {max-width: 900px;}
    .prop-block dl.prop {display: inline-block; width: 100%; border-bottom: 1px dotted #ccc;}
        .prop-block dl.prop .item{position: relative; bottom: -5px; background: #fff;}
        .prop-block dl.prop dt{ white-space: nowrap; float: left; padding-right: 5px; margin-right: 20px;}
        .prop-block dl.prop dd{ margin-left: 290px; padding-left: 5px;}

.columns.cataolog-product-more{margin-top: 31px;}
    .columns.cataolog-product-more .col.main_left{width: 685px; border-right-width: 0px;}
    .columns.cataolog-product-more .col.main_right{margin-left: 705px; padding-left: 32px;}

.cataolog-product-more{ width: 100%;}
    .cataolog-product-more .title{font-size: 22px; padding-bottom: 26px; font-family: 'gotham_probold'; line-height: 100%; text-transform: uppercase;}
    .cataolog-product-more ul.catalog-specoffers-list {display: inline-block; padding-top: 0px; width: auto; float: left; border-width: 0px;}
        .cataolog-product-more ul.catalog-specoffers-list li{margin-right: 22px;}
            .cataolog-product-more ul.catalog-specoffers-list li:last-child{margin-right: 25px;}
        .cataolog-product-more .catalog-name{ display: inline-block; 
				margin-bottom: 13px; max-height: 30px; overflow: hidden;
				box-sizing: border-box;
				-moz-box-sizing: border-box; /*Firefox 1-3*/
				-webkit-box-sizing: border-box; /* Safari */
				}
        .cataolog-product-more .price-block{padding-bottom: 10px;}
        .cataolog-product-more .button{line-height: 35px; height: 35px;}
        .cataolog-product-more .check-button{padding-top: 0px;}

    .product-more-cart {
        display: inline-block;
        border: 1px solid #e9e9e9; max-width: 197px;
        padding: 13px 15px;
        background: #fff;
        box-sizing: border-box;
        -moz-box-sizing: border-box; /*Firefox 1-3*/
        -webkit-box-sizing: border-box; /* Safari */

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        }

        .product-more-cart .counter {font-size: 12px;}
        .product-more-cart .price-block {margin-top: 14px; padding-bottom: 0px;}
        .product-more-cart a.button {
            display: block; text-align: center;
            margin-top: 17px;
            min-width: 160px;
            }
        .product-more-cart .info {font-size: 12px; margin-top: 12px;}

    .last-visited {position: relative;}
        .last-visited .title{font-size: 15px; padding-bottom: 26px; font-family: 'gotham_probold'; line-height: 100%; text-transform: uppercase;}
        .last-visited .nav{position: absolute; right: 0px; z-index: 100;}
            .last-visited .nav.up{top: 43px;}
            .last-visited .nav.down{bottom: 0px;}

        .last-visited ul{height: 280px; padding-bottom: 0px; overflow: hidden;}
            .last-visited ul li{
				height: 70px; padding-bottom: 10px; 
				overflow: hidden; 
				box-sizing: border-box;
                -moz-box-sizing: border-box; /*Firefox 1-3*/
                -webkit-box-sizing: border-box; /* Safari */
				}
            .last-visited ul li a{
                display: block; color: #000;
                font-size: 13px; line-height: 15px;
                margin: 0 60px 4px 0; text-decoration: none;
                height: 30px;
                overflow: hidden;
                }

/*catalog-line*/
.catalog-line{
    display: block; width: 100%; height: 57px;
    position: fixed; bottom: 0px;  background: #333333;
    z-index: 1000;
    font-size: 12px;
    }
    .catalog-line .wrapper{height: 57px; line-height: 57px;}
    .catalog-line .right-block {float: right;}

        .catalog-line a.button, .catalog-line button {
            text-transform: none; font-size: 12px; color: #333333;
            padding: 0 15px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
			
            }

            .catalog-line button {color: #fff;}
            .catalog-line .link{float: left; position: relative;}

            .catalog-line .right-block a { color: #bbbbbb; text-decoration: none;}

            .catalog-line .right-block div.counter{
                display: inline-block;
                height: 24px; line-height: 24px; min-width: 35px;
                padding: 0 5px; text-align: center; margin: 0 0 0 8px;
                box-sizing: border-box;
                -moz-box-sizing: border-box; /*Firefox 1-3*/
                -webkit-box-sizing: border-box; /* Safari */

                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background: #404040;
                color: #999999;
                font-size: 12px;
                }

            .catalog-line .sep {border-left: 1px solid #404040; padding-left: 14px; margin-left: 11px;}
            .catalog-line .link.active .counter{background: #ffc400; color: #fff;}
            .catalog-line .link.active a{color: #fff;}

    .catalog-line .icon:before{top: 0px;}

        .catalog-line .right-block form {float: right;}
            .catalog-line .right-block form.cart {}
            .catalog-line .right-block form button{margin-left: 27px;}

        .catalog-line .link .ballon {
            display: none; position: absolute;
            height: 30px; width: 110px;
            top: -35px;
            background: #ffc400;
            -webkit-box-shadow: 0px -1px 7px 0px rgba(50, 50, 50, 0.55);
            -moz-box-shadow:    0px -1px 7px 0px rgba(50, 50, 50, 0.55);
            box-shadow:         0px -1px 7px 0px rgba(50, 50, 50, 0.55);
            }
            .catalog-line .link .ballon:before {
                content: ''; position: absolute; left: 50%; bottom: -20px; margin-left: -10px;
                border: 10px solid transparent; border-top: 10px solid #ffc400;
                clear: both;
                }

            .catalog-line .link .ballon .text_data{
                color: #ffffff;
                text-align: center;
                height: 30px; width: 110px;
                line-height: 30px;
                }



.columns.cart{}
    .columns.cart .col.main_left{width: 178px;}
    .columns.cart .col.main_right{margin-left: 178px; padding-left: 50px;}

/*cart-doptovar*/
ul.cart-doptovar{padding-bottom: 0px;}
    .cart-doptovar li{width: 138px; border-bottom: 1px solid #e3e3e3; padding-bottom: 15px; margin-bottom: 19px;}
        .cart-doptovar li:last-child{border-bottom-width: 0px; margin-bottom: 0px;}

        .cart-doptovar li .image{
            display: inline-block; width: 138px; height: 138px;
            background-repeat: no-repeat;
            background-position: center center;
            margin-bottom: 12px;
            }
        .cart-doptovar li .catalog-name{padding-bottom: 11px;}
        .cart-doptovar li a.button{margin-top: 12px;}

/*cart-list*/
.cart-list{width: 100%;}
    .cart-list ul{width: 100%;}
        .cart-list ul li{
            display: inline-block; width: 100%;
            padding-bottom: 18px; margin-bottom: 15px;
            border-bottom: 1px solid #e3e3e3;
            }
            .cart-list ul li.totalinfo{
                border-bottom: 0px solid #e3e3e3;
                padding-bottom: 0px; margin-bottom: 0px;
                }

            .cart-list ul li.totalinfo .data .line:first-child{height: auto;}

            .cart-list ul li .image {
                display: inline-block; width: 138px; height: 138px;
                float: left; margin: 0 -100% 0 0;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: #ffffff;
                }
            .cart-list ul li .data {margin-left: 162px;}
            .cart-list ul li .data .line {display: inline-block; width: 100%; overflow: hidden;}
            .cart-list ul li .data .line:first-child {height: 110px;}

            .cart-list ul li .counter {position: relative; display: block;  margin-top: 0px; width: 92px;}
			.cart-list ul li .counter input {display: inline-block; margin-right: 14px;}
                .cart-list ul li .counter .count {
					display: inline-block; position: absolute; width: 12px; height: 18px;
					cursor: pointer; margin-left: 2px;
					background-image: url(img/icon.png); background-repeat: no-repeat; 
					}
                    .cart-list ul li .counter .count.add {top: 1px; background-position: -22px -124px;}
                    .cart-list ul li .counter .count.rem {bottom: -1px; background-position: -34px -124px;}

            .cart-list ul li .data .line input[type=text]{
                display: inline-block; border: 1px solid #cbcbcb;
                height: 35px; line-height: 35px; min-width: 44px; width: 0%;
                padding: 0 5px; text-align: center; margin: 0px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;

                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                background: #fff;
                color: #343434;
                font-size: 14px;
                position: relative;
                }

				.cart-list ul li .data .cart-actions a {color: #999999; margin-left: 40px; padding-left: 0px;}

            .cart-list .div-table .title{
                display: inline-block; width: 100%;
                margin: 18px 0 10px 0; text-transform: uppercase;
                font-family: 'gotham_promedium';
                }
            .cart-list .div-tr{}
                .cart-list .div-tr > div.name{width: 275px;}
                    .cart-list .div-tr > div.name p{padding-bottom: 0px; line-height: 15px;}
            .cart-list .div-tr > div.tovar-price{width: 130px;}
            .cart-list .div-tr > div.counter{width: 92px;}
            .cart-list .div-tr > div.total-price{width: 110px;}

    .cart-list .cart-actions{text-align: right;}
    .cart-list .total{display: inline-block; width: 100%; float: right; clear: both; text-align: right;}
		.cart-list .total div{float: left;}
		.cart-list .total div.price-block{width: auto;}
		
	.cart-list button.order {float: right;}


	/*cart-list*/
.cart-list2{
    width: 100%;
    }
    .cart-list2 table{width: 100%; }
		.cart-list2 table tr:hover td{background: transparent;}
			.cart-list2 table tr td { border-width: 0px; padding: 0px; text-align: left;}
		
        .cart-list2 table tr.item td{ height: 110px; padding-top: 18px; vertical-align: top;}
			.cart-list2 table tr:first-child.item td{padding-top: 0px; }
			
        .cart-list2 table tr.actions td{ padding-bottom: 15px; border-bottom: 1px solid #e3e3e3; }
		.cart-list2 table tr.totalinfo td{padding: 15px 0 10px 0;}
		

		.cart-list2 td  .title{ display: inline-block; width: 100%; font-size: 13px; margin: 18px 0 10px 0; text-transform: uppercase; font-family: 'gotham_promedium';}
		.cart-list2 table td.image { padding: 15px 0; border-bottom: 1px solid #e3e3e3;}
		.cart-list2 table td.image > div{ display: inline-block; width: 138px; height: 138px;
			margin-right: 25px;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: #fff;
			}

			.cart-list2 td.name{min-width: 180px; padding-right: 15px;}
				.cart-list2 td.name p{padding-bottom: 0px; line-height: 15px; padding-right: 15px;}
				    .cart-list2 td.name p a{text-decoration: none; color: #000000;}
            .cart-list2 td.tovar-price{padding-right: 25px;}
            .cart-list2 td .price-block{ white-space: nowrap;}

            .cart-list2 td.counter{width: 72px;}	

            .cart-list2 table .counter-control {position: relative; display: block;  margin-top: 0px; width: 92px;}
				.cart-list2 table .counter-control input {display: inline-block; margin-right: 14px;}
				.cart-list2 table .counter-control .count {
					display: inline-block; position: absolute; width: 12px; height: 18px;
					cursor: pointer; margin-left: 2px;
					background-image: url(img/icon.png); background-repeat: no-repeat; 
					}
					.cart-list2 table .counter-control .count.add {top: 1px; background-position: -22px -124px;}
					.cart-list2 table .counter-control .count.rem {bottom: -1px; background-position: -34px -124px;}
				.cart-list2 table tr.totalinfo input{margin-right: 0px;}

            .cart-list2 table input[type=text]{
                display: inline-block; position: relative; border: 1px solid #cbcbcb;
                height: 35px; line-height: 35px; min-width: 44px; width: 0%;
                padding: 0 5px; text-align: center; margin: 0px;
				background: #fff; color: #343434; font-size: 14px; 
				
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;

                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
				}

        .cart-list2 tr.itogo {}
        .cart-list2 tr.itogo .title{margin-top: 5px;}
        .cart-list2 tr.itogo .tovar-price{text-align: left;}

	
    .cart-list2 .cart-actions{text-align: right;}
		.cart-list2 .cart-actions a {color: #999999; margin-left: 40px; padding-left: 0px;}
		
	.cart-list2 .button.order {float: right;}

	
	
	
.tabs.personal{}
    .tabs.personal .catalog-opt-line{width: 100%; padding-bottom: 5px;}
        .tabs.personal .catalog-opt-line .contragent{float: left;}
        .tabs.personal .catalog-opt-line .sort-opt{float: right;}

    .tabs.personal table a.order{color: #000; font-weight: bold;}

.tabs.personal {}
    .tabs.personal .order-info{padding-bottom: 23px; font-size: 14px;}
    .tabs.personal table a.order{color: #000; font-weight: bold;}


form.style2 {line-height: 14px;}
    form.style2 .title{font-size: 18px; font-family: 'gotham_probold'; margin-bottom: 18px;}

    form.style2 .field{padding-bottom: 8px; display: table; font-family: 'gotham_proregular'; position: relative;}
        form.style2 .field label{float: left; width: 150px; padding-right: 5px; display: table-cell; font-size: 13px; margin-top: 10px;}
        form.style2 .field .info{
            position: absolute; top: 1px;
            right: -420px; width: 400px; color: #6e6e6e;
            font-style: italic; font-family: 'gotham_proregular';
            }

    form.style2 .field.w100p label{width: 100px;}

    form.style2 textarea, form.style2 .field input, form.style2
    .field-hidden input, form.style2 .field select, form.style2 .field .input{
        border: 1px solid #dcdcdc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-family: 'gotham_proregular';
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        }

    form.style2 .field input,
    form.style2 .field .input,
    form.style2 .field-hidden input,
    form.style2 .field select,
    form.style2 .field .block{
        height: 34px; line-height: 34px; width: 286px; padding: 0px 15px;

        }
    form.style2 .field .block{float: right; line-height: 20px; padding: 0px; display: inline-block;}

    form.style2 .field.data {display: inline-block; overflow: hidden;}
    form.style2 .field.data label {margin-right: -100%; float: left;}
    form.style2 .field.data .block{
        display: block;
        margin-left: 190px;
        float: none;
        display: inline-block;
        }


    form.style2 .field.textarea { width: 660px;}
    form.style2 .field.textarea label{ width: 186px;}
    form.style2 .field.textarea textarea{ width: 286px; max-width: 286px; }

    form.style2 textarea{height: 149px; width: 516px; max-width: 516px; padding: 10px 15px; margin-bottom: 25px;}


    form.style2 .field.radio .block{ width: 460px;}
        form.style2 .field.radio .block input[type=radio]{height: 0px; width: 0px;}
        form.style2 .field.radio .block label.select{margin-right: 10px;}
            form.style2 .field.radio .block label.select:before{
                content: '';  position: relative; float: left;
                display: inline-block;
                width: 18px; height: 18px; margin-right: 5px;
                background-image: url(img/icon.png);
                background-repeat: no-repeat;
                background-position: 0px -73px;
                }

        form.style2 .field.radio .block input[type=radio]:checked + label.select:before{background-position: -20px -73px;}


        form.style2 .field.w480p input,
        form.style2 .field.w480p .input,
        form.style2 .field-hidden.w480p input,
        form.style2 .field.w480p select,
        form.style2 .field.w480p textarea,
        form.style2 .field.w480p .block{
            width: 460px;
            max-width: 460px;
        }

    form.style2 .field.w480p .input.location {padding: 0px; border: 0px;}
        form.style2 .field.w480p .input.location .dropdown-block {height: 34px; line-height: 34px; }

form.style2 .field-hidden{
        display: table; font-family: 'gotham_proregular';
        height: 50px; width: 610px;
        }

        form.style2 .field-hidden label{
            float: left; display: inline-block; text-align: right;
            width: 140px; padding: 0 3px 0 0; margin-top: 17px; margin-right: -100%;
            color: #4e4e4e; font-size: 13px;
            }
        form.style2 .field-hidden .value-block{
            display: block; margin-left: 157px; height: 50px; line-height: 50px;
            }
        form.style2 .field-hidden .line{
            display: block; height: 0px; margin-left: 28px;
            border-bottom: 1px dashed #d5d5d6;
            }

        form.style2 .field-hidden input{display: none; width: 100%;}
        form.style2 .field-hidden .value{margin: 17px 0 17px 0; line-height: 14px; display: inline-block; width: 380px;}
            form.style2 .field-hidden.userphoto {height: 145px;}
            form.style2 .field-hidden.userphoto .value-block{height: 145px;}
            form.style2 .field-hidden.userphoto .value{clear: right; height: 145px;}
            form.style2 .field-hidden.userphoto .value .image{
                margin: 0px 0 17px 0; 
				width: 110px; height: 110px; 
				background-position: center center;
				background-repeat: no-repeat;
				display: block;
                }
            form.style2 .field-hidden.userphoto .edit{}

        form.style2 .field-hidden a.edit{
            display: inline-block; margin: 17px 0 17px 0; line-height: 14px;
            border-bottom: 1px dashed #000;
            color: #000; cursor: pointer;
            float: right;
            }

    form.style2 .sep {display: block; height: 40px; width: 100%;}

    form.style2 .filed-button{padding: 26px 0 0 156px;}
        form.style2 .filed-button button{padding: 0 45px;}

    form.style2 .filed-button-v2{padding: 26px 0 0 0px;}
        form.style2 .filed-button-v2 button{padding: 0 45px;}

.style2.order-auth {margin-bottom: 60px; }
    .style2.order-auth .filed input{width: 267px !important;}
    .style2.order-auth .filed-button a{color: #000; text-decoration: underline; margin-left: 20px;}

.style2.form_order {max-width: 652px;}
.style2.form_order .field{}
    .style2.form_order .field label{width: 186px; font-family: 'gotham_proregular'; font-size: 12px;}

.style2 .field.file.details {}
.style2 .field.file.details label{height: 0px; width: 0px; overflow: hidden; display: block;}
    .style2.form_order .field.file.details .file_search {width: 470px; margin-left: 180px; }
        .style2.form_order .field.file.details .file_search .desc{color: #5a5a5a; font-size: 11px; padding-top: 8px;}
        .style2.form_order .field.file.details .file_search .file_field{width: 350px; float: right;}
        .style2.form_order .field.file.details .file_search input { width: 100%; float: left;
            margin-right: -91px;
            }

        .style2.form_order .field.file.details .file_search button {
            width: 90px; margin-top: 1px; height: 32px;
            -webkit-border-top-left-radius: 0px  !important;
            -webkit-border-bottom-left-radius: 0px  !important;
            -moz-border-radius-topleft: 0px  !important;
            -moz-border-radius-bottomleft: 0px  !important;
            border-top-left-radius: 0px  !important;
            border-bottom-left-radius: 0px  !important;
        }


.style2.form_order .bx_ordercart_order_pay_center{ padding-bottom: 20px;}
.style2.form_order .bx_ordercart_order_pay_center a{float: left;}
    .style2.form_order .bx_ordercart_order_pay_center .button-line{
        border-bottom: 1px solid #e3e3e3; height: 15px;
        width: 460px; margin-left: 186px;
    }

    .style2.form_order dl.prop {border-bottom: 1px solid #e3e3e3; display: inline-block; width: 100%; padding-bottom: 10px; padding-top: 5px;}
        .style2.form_order .prop dt {float: left; margin-right: -100%; width: 200px;}
        .style2.form_order .prop dd { margin-left: 200px; float: right; font-size: 15px; font-weight: bold; color: #636363;}
        .style2.form_order .prop dd span { display: inline-block; margin-left: 5px; height: 15px; width: 12px;
            background-position: -110px -128px; background-image: url(img/icon.png); background-repeat: no-repeat;
            font-size: 0px;}

.style2.form_order .sep{border-bottom: 1px solid #e3e3e3; margin: 25px 0 28px 0; height: 1px; }
.style2.form_order .section_title{font-size: 16px; font-family: 'gotham_promedium'; max-width: 170px; line-height: 16px;}


form.style2 .field.radio {}
    form.style2 .field.radio.inline {}
        form.style2 .field.radio.inline .block input[type=radio]{}

.order-selector {margin-bottom: 60px; }
    .order-auth input[type=text], .order-auth input[type=password]{width: 267px !important;}
    .order-auth .filed-button a{color: #000; text-decoration: underline; margin-left: 20px;}

.order-selector {width: 100%;}
    .order-selector .div-tr div.bttn{width: 280px; height: 45px; vertical-align: middle;}
        .order-selector .button{min-width: 259px;text-align: center; margin-right: -100%; }
        .order-selector .info2{
            vertical-align: middle;
            color: #6e6e6e; font-size: 12px; line-height: 16px;
            font-style: italic; font-family: 'gotham_proregular';
            }

.div-table.notif{width: 830px; font-size: 14px; margin-bottom: 20px;}
    .div-table.notif .name{width: 530px; padding-left: 28px; text-align: left;}
    .div-table.notif .option{text-align: center;}
    .div-table.notif .div-tr.header{}
    .div-table.notif .div-tr > div{height: 50px; line-height: 50px; border-bottom: 1px dashed #d5d5d6;}

	
.order_detail { 
	display: inline-block;
	padding: 28px 20px;
	background-color: #f7f7f7;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	}
	.order_detail h2{margin: 10px 0;}
	.order_detail .data ul{}
		.order_detail .data ul li{padding-bottom: 8px; font-size: 13px;}
		.order_detail .data ul li.sep{margin-top: 30px;}
		.order_detail .data ul li span{display: block; min-width: 170px; float: left; color: #5c5c5c;}
		

section.main_search_line {
	background-color: #ffc400;
	padding: 5px 0; margin: 0px;
	border: 0px; 
	}
	
	section.main_search_line form {
		position: relative; display: inline-block;
		width: 100%; height: 45px; margin: 9px 0;
		background-color: #fff;
		}
		
		section.main_search_line form label{
			display: inline-block; 
			height: 45px;
			line-height: 47px; font-size: 12px;
			padding: 0 0 0 18px; margin-right: -100%;
			float: left; text-transform: uppercase;
            font-family: 'gotham_probold';
			}

		section.main_search_line form input[type=text]{
			display: block; 
			height: 45px; width: 100%;
			line-height: 47px; padding: 0 80px 0 180px;
			border: 0px;
			
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			}
		section.main_search_line form .button-block {
			position: absolute; display: block; float: right; 
			height: 23px; width: 54px; right: 0px;  top: 0px;
            margin-top: 11px;
			border-left: 1px solid #d9d9d9;
			}
		section.main_search_line form .button-block button{
			height: 20px; width: 20px; border: 0px;  padding: 0px;
			cursor: pointer; margin: 5px 17px;
			background: url(img/icon.png) -16px 0px no-repeat;
			}

section.main_search_line.white{background-color: #fff;}
    section.main_search_line.white input[type=text]{border: 1px solid #ececec;}

.main_search_line.catalog form{background-color: transparent;}
    section.main_search_line.catalog form .input{margin-left: 182px; background-color: #fff;}
    section.main_search_line.catalog form input[type=text]{padding-left: 0px; padding-left: 10px;}
    .main_search_line.catalog .button{
        display: inline-block; position: relative; float: left; margin-right: -100%;
        width: 177px;  height: 45px; z-index: 100;
        border: 0px; line-height: 45px;
        padding-right: 30px; color: #fff; background: #000;
        font-family: 'gotham_probold'; font-size: 12px; text-align: center;
        cursor: pointer;
        }
    
        .main_search_line.catalog .button span {
            position: absolute; right: 13px; top: 50%; margin-top: -6px;
            display: inline-block; height: 12px; width: 7px;
            background: url(img/icon.png) -102px -127px no-repeat;
            }
		.main_search_line.catalog .button  .menu {
			position: absolute; z-index: 50; padding: 10px 8px; left: 0px; top: 45px; display: none;
			min-width: 157px;
			border: 0px solid #ccc; background-color: #000; 
			-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.28);
			-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.28);
			box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.28);
			}
		.main_search_line.catalog .button:hover  .menu {display: inline-block; color: #fff;}
			.main_search_line.catalog .button  .menu ul {line-height: 100%;}
				.main_search_line.catalog .button  .menu ul li {padding: 7px; border-bottom: 1px solid #ccc;}
				.main_search_line.catalog .button  .menu ul li:last-child{ border-bottom: 0px solid #ccc;}
					.main_search_line.catalog .button  .menu li a{color: #fff; display: block; padding: 5px 0; text-decoration: none;}

.filter {width: 234px;}
    .filter .filter-section{
        display: inline-block; width: 100%;
        padding-bottom: 37px;
        font-size: 13px;
        }
        .filter .filter-section.price{padding-bottom: 47px;}

        .filter .filter-section .title{display: block; text-transform: uppercase; padding-bottom: 10px; font-family: 'gotham_probold';}
        .filter .filter-section .more{color: #818181; font-size: 12px; border-bottom: 1px dashed #818181; text-decoration: none;}
        .filter .filter-section ul{ display: block; width: 100%; padding-bottom: 8px;}
            .filter .filter-section ul li{display: block; width: 100%; }
            .filter .filter-section ul li.hidden {display: none; }
            .filter .filter-section ul li.disabled {color: #999;}

        .filter .filter-section label{ color: #444444; clear: both; }
        .filter .filter-section input[type=checkbox]{ margin-top: 2px; margin-right: 5px;}
            .filter .filter-section label span{color: #b6b6b6; padding-left: 5px; font-size: 10px; line-height: 12px;}

            .filter .more-param{
                width: 100%; height: 39px; line-height: 39px;
                font-size: 13px;
                text-transform: none;
                text-align: center; font-family: Verdana;
                }
            .filter .button-group{margin-top: 14px;}
            .filter .button-group a.clear{
                font-size: 12px; text-decoration: none; color: #434343; border-bottom: 1px dashed #434343;
                margin-left: 20px;
                }

            .filter .input-group {}
                .filter .input-group span{ display: block; float: left; padding: 0 10px; line-height: 28px;}
                .filter .input-group input{
                    float: left; height: 26px; line-height: 28px; width: 52px;
                    border: 1px solid #cdcdcd;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    padding: 0 9px;
                    }

            .filter .slider-line {display: inline-block; width: 100%; margin-top: 10px;}
                .filter .slider-line .pos{display: inline-block; width: 100%; font-size: 10px; color: #444444;}
                    .filter .slider-line .pos div:first-child{float: left;}
                    .filter .slider-line .pos div:last-child{float: right;}
                .filter .slider-line .line{display: block; width: 100%; height: 10px; background-color: #f0f0f0; margin-top: -5px; position: relative;}
                    .filter .slider-line .line div.percent{display: block; position: absolute; height: 10px; background-color: #ffc400;}
                    .filter .slider-line .line div.pol{
                        display: block; width: 10px; height: 16px; position: absolute;
                        cursor: pointer;
                        background-image: url("img/icon.png");
                        background-repeat: no-repeat;
                        }
                        .filter .slider-line .line div.pol.left{z-index: 100; background-position: -57px -125px;}
                        .filter .slider-line .line div.pol.right{background-position: -67px -125px; float: right; right: 0px;}


.compare-control{position: relative; padding-right: 35px;}
    .compare-control .title{font-size: 18px; font-family: 'gotham_promedium';}
    .compare-control select {width: 100%;}
    .compare-control form{margin-top: 23px;}
    .compare-control .left-title{position: absolute; display: block; font-size: 16px; width: 100%; text-align: right;
        padding-right: 35px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        }
        .compare-control .left-title.sect{font-size: 18px; font-family: 'gotham_promedium';}

    .compare-control .actions{margin-top: 23px;}
        .compare-control .actions .remove{color: #000; text-decoration: underline;}

#compare_title_block {position: relative;}
    #compare_title_block div.line_title{position: absolute;}

.compare-list{}
    .compare-list .element_item{min-width: 236px;}

    .compare-list .tovar{
        border: 1px solid #dddddd; padding: 17px 20px;
        margin-bottom: 15px;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 340px;
        }
        .compare-list .tovar a.name{
            color: #000; text-decoration: none;
            line-height: 20px; display: block; height: 41px;
            padding-bottom: 25px;
            }
        .compare-list .tovar .image{display: block; width: 100%; height: 112px; padding-bottom: 15px; background: #fff; }
            .compare-list .tovar .image img{display: block; margin: 0 auto; height: 112px; width: auto;}
            .compare-list .tovar .block_1{margin-top: 20px;}
                .compare-list .tovar .block_1 .button{width: 121px; text-align: center;}
                .compare-list .tovar .block_1 .icon{margin-left: 30px; }
                    .compare-list .tovar .block_1 .icon:before{top: 3px; }

            .compare-list .tovar .block_2{margin-top: 20px; line-height: 18px; position: relative;}
            .compare-list .tovar .block_2 a.remove{margin-right: 10px; color: #000; text-decoration: underline;}
                .compare-list .tovar .block_2 .nav{
                    display: inline-block; padding: 4px 0; float: right; margin-left: 10px;
                    }

                .compare-list .tovar .block_2 .nav span{
                    display: inline-block; height: 5px; width: 22px;
                    background-image: url('img/icon.png');
                    background-position: -78px -125px;
                    background-repeat: no-repeat;
                    text-decoration: none;
                    font-size: 0px;
                    }

                .compare-list .tovar .block_2 .nav.next span{background-position: -79px -130px; }

    .compare-list .div-tr > div{width: 257px; position: relative; padding: 0 20px 18px 0;}
    .compare-list .div-tr.section > div{padding: 30px;}
    .compare-list .left-title{display: none;}

.vote-items-result {}
    .vote-items-result .vote-item-header{font-weight: bold; padding-bottom: 10px;}

    .vote-items-result .vote .answers{ display: block; width:  170px;}
            .vote-items-result .answer{padding-bottom: 10px;}
                .vote-items-result .answer .title{width: 100%;  padding-bottom: 3px;}
                .vote-items-result .answer .title .counter{font-size: 10px; color: #3f3f3f; float: right; font-weight: 100;}

                .vote-items-result .answer .bar{width: 100%; border: 1px solid #b3b3b3;}
                    .vote-items-result .answer .bar div{ height: 7px; width: 100%;}



.page_404{width: 100%;}
    .page_404 .road{overflow: hidden; width: 100%;}
        .page_404 .road > img{width: 100%; height: auto;}
    .page_404 .page_404_bt{width: 100%; display: inline-block;}
        .page_404 .page_404_bt .oops{float: left; display: block; width: 200px; height: 80px;}
        .page_404 .page_404_bt .text{float: right; display: block; width: 420px; height: 80px;}
            .page_404 .page_404_bt .text a{display: block; width: 420px; height: 80px;}